{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}{{ 'Page not found' | trans }}{% endblock %}
{% block main %}
    <p>{{ 'Error message sent' | trans }}</p>
    <p>{{ 'Sorry about the inconvenience' | trans }}</p>
{% endblock %}